html, body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Full height */
  overflow: hidden; /* Prevents scrolling */
  background-image: url('/static/images/ecu_campus.jpg');
  background-color:rgba(0, 0, 0, 0.8);
  background-blend-mode: overlay;

  background-size: cover; /* Ensures the image fits the desktop */
}

/* ----- Navigation Bar ----- */
.navbar {
  background-color: #7400aa !important;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  flex-direction: row;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.nav {
  gap: .5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav .nav-item a {
  color: white;
}

.nav .nav-item a:hover {
  background-color: rgba(255, 255, 255, 0.556);
  border-radius: 20px 20px;
}

/* ----- Main Section ----- */
.container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1.5rem;
}

.welcome-container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stacks vertically */
  text-shadow: 3px 3px 6px rgba(0, 0 , 0, 0.5);
  margin-top: 125px;
  gap: 20px;
}

.welcome-container h1 {
  display: flex;
  font-size: 4rem;
  font-weight: 750;
  text-align: center;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  margin-top: 60px;
}

.welcome-container img {
  max-width: 625px;
  height: 300px;
  margin: 0 20px;
  display: flex;
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5));
}

.welcome-container p {
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  font-weight: 500;
}

/** ----- Register ----- **/
.register-container, .login-container {
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 60px;
  margin-top: 75px;
  gap: 10px;
  display: flex;
  justify-content: center; /* Centers form horizontally */
  align-items: center;     /* Centers form vertically */
  flex-direction: column; /* Stacks form elements vertically */
}

.register-container h1, .login-container h1 {
  text-align: center;
  font-weight: 750;
  gap: 50px;
  margin-bottom: 25px;
}

.register-container input, .register-container select, .login-container input{
  padding: 10px;
  width: 400px;
  border: none;
  border-radius: 5px;
}

/* ----- Register and Login Buttons ----- */
.register-container button, .login-container button {
  margin-top: 15px; /* Adds the space above the button */
  background-color: #7400aa;
  color: white;
  border: none;
  padding: 10px 20px;
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
}

.container h1 {
  color: white;
}

/* ----- Dashboard ----- */
.column {
  display: flex;
  gap: 1.25rem;
  margin-top: 1.5rem;
  flex-direction: column;
  color: white;
}

.card {
  background: none;
}

.form-card {
  max-width: 420px;
  margin: 2rem auto;
}

.form-group label {
  display: block;
  color: white;

}
.form-group input, .form-group select {
  width: 100%;
  padding: .55rem .65rem;
}

.submit-btn {
  width: 100%;
  padding: .55rem .55rem;
  background-color: #7400aa;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: .95rem;
  font-weight: 600;
  cursor: pointer;
}

.dashboard-container {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

.collapsible-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.collapsible-header.collapsed .toggle-arrow {
  transform: rotate(-90deg);
}

.collapsible-content {
  margin-top: 1rem;
}

.collapsible-content.collapsed {
  display: none;
}

p {
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* ---------- Option Value --------- */

.course-picker-row {
  display: flex;
  gap: 2rem;
}

/* ---------- Submit Button ---------- */

.submit-button {
  background-color: #7400aa;
  border: none;
  padding: 10px 40px;
  border-radius: .75rem;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
}

.submit-button:hover {
  background-color: white;
  color: #7400aa;
  transform: scale(1.25);
  box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
  font-weight: 500;
  text-shadow: 0 0 1px #7400aa;
  transition: transform .5s ease;
}


.candidate-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .6rem;
  padding: .4rem 0;
}

/* ---------- Table ---------- */
.table {
  border-collapse: collapse;
}

.table,
.table thead,
.table thead tr,
.table thead th {
  border-top: none !important;
  border-collapse: collapse;
}

thead {
  color: white;
}

thead tr {
  border-top: none !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

tbody tr:nth-child(even) {
  background-color: #d5d4d4; /* White */
}

/* Style odd rows inside the table body only */
tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Light gray */
}