html, body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Full height */
  overflow: hidden; /* Prevents scrolling */
  background-image: url('/static/images/ecu_campus.jpg');
  background-color:rgba(0, 0, 0, 0.8);
  background-blend-mode: overlay;

  background-size: cover; /* Ensures the image fits the desktop */
}

/* ----- Navigation Bar ----- */
.navbar {
  background-color: #7400aa !important;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  flex-direction: row;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.nav {
  gap: .5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav .nav-item a {
  color: white;
}

.nav .nav-item a:hover {
  background-color: rgba(255, 255, 255, 0.556);
  border-radius: 20px 20px;
}

/* ----- Main Section ----- */
.main-container {
  display: flex;
  justify-content: center;
}

.welcome-container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stacks vertically */
  text-shadow: 3px 3px 6px rgba(0, 0 , 0, 0.5);
  margin-top: 125px;
  gap: 20px;
}

.welcome-container h1 {
  display: flex;
  font-size: 4rem;
  font-weight: 750;
  text-align: center;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  margin-top: 60px;
}

.welcome-container img {
  max-width: 625px;
  height: 300px;
  margin: 0 20px;
  display: flex;
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5));
}

.welcome-container p {
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  font-weight: 500;
}

/** ----- Register ----- **/
.register-container {
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 60px;
  margin-top: 75px;
  gap: 10px;
  display: flex;
  justify-content: center; /* Centers form horizontally */
  align-items: center;     /* Centers form vertically */
  flex-direction: column; /* Stacks form elements vertically */
}

.register-container h1 {
  text-align: center;
  font-weight: 750;
  gap: 50px;
  margin-bottom: 25px;
}

.register-container input, .register-container select {
  padding: 10px;
  width: 400px;
  border: none;
  border-radius: 5px;
}

/* ----- Register and Login Buttons ----- */
.register-container button, .login-container button {
  margin-top: 15px;
  background-color: #7400aa;
  color: white;
  border: none;
  padding: 10px 20px;
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
}