{% extends 'base.html' %}
{% block content %}
<div class="login-container">
    <h1>Login Your Account...</h1>

        <div id="flash-message" class="flash hide"></div>


     <!-- Username section -->
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter Your Username...">
        </div>

         <!-- Password section -->
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter Your Password...">
        </div>

        <button id="login-btn">Login</button>
</div>

{% endblock %}