{% extends 'base.html' %}
{% block content %}
<div class="register-container">
    <h1>Register Your Account</h1>
    <div id="flash-message" class="flash hide"></div>

        <!-- Your First Name... -->
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" class="form-control" id="first_name" placeholder="Enter Your First Name...">
        </div>

        <!-- Your Last Name... -->
         <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" class="form-control" id="last_name" placeholder="Enter Your Last Name...">
        </div>

        <!-- Degree... -->
         <div class="form-group">
            <label for="degree">Degree:</label><br>
            <select id="degree" class="form-control" name="degree">
                <option value="">Choose Your Degree...</option>
                {% for degree in all_degrees %}
                <option value="{{ degree.id }}">{{ degree.type }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Major section -->
        <div class="form-group">
            <label for="major">Major: </label><br>
            <select id="major" class="form-control">
                <option value="">Choose Your Major...</option>
                {% for major in all_majors %}
                <option value="{{ major.id }}">{{major.name}}</option>
            {% endfor %}
            </select>
        </div>

        <!-- Username section -->
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter Your Username...">
        </div>

        <!-- Password section -->
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter Your Password...">
        </div>

        <button id="register-btn">Register</button>

</div>

{% endblock %}