{% extends 'base.html' %}
{% block content %}
<div class="register-container">
    <form>
        <!-- Your First Name... -->
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="first_name" class="form-control" id="first_name" placeholder="Enter Your First Name...">
        </div>

        <!-- Your Last Name... -->
         <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="last_name" class="form-control" id="last_name" placeholder="Enter Your Last Name...">
        </div>

    </form>
</div>

{% endblock %}